/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%)

## Typography

### Body Copy

- Font size: 32px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 300, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --darkBlue: hsl(240, 38%, 20%);
    --grayishBlue:  hsl(240, 18%, 77%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}


main {
    position: relative;
}

h1 {
    font-weight: 300;
}

.personContent {
    margin: 1rem 0px 0px;
}
.name {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 5px;
    display: inline-block;
}

.occupation {
    color: var(--grayishBlue);
    font-weight: normal;
    margin: 5px;
    display: inline-block;
}
.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.absolute {
    position: absolute;
    z-index: -1;
}

.bottomLeftCurve {
    position: absolute;
    bottom: -120px;
    left: 0;
}

.pattern {
    top: 60px;
    right: 80px;
}
.middleQuote {
    top: 27%;
    width: 100px;
    left: 18%;
}
.imgContainer {
    position: relative;
}

.prevBtn, .nextBtn {
    position: absolute;
    bottom: -20px;
    background-color: white;
}

.prevBtn {
    left: 15.5%;
    padding: 1rem 1.5rem;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.nextBtn {
    left: 27.5%;
    padding: 1rem 1.5rem;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* .hidden {
    display: none;
} */

.testimony-Header {
    width: 600px;
    z-index: 2;
}

.testimonyContent {
    z-index: 1;
    width: 550px;
}

.profileImage {
    box-shadow: 0px 25px 25px 5px rgba(0,0,0, .2);
    width: 500px;
    height: 500px;

}

.prevBtn:hover, .nextBtn:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

/* @keyframes rightToLeft {
    from {
        transform: translateX(50px);
        opacity: .7;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes leftToRight {
    from {
        transform: translateX(-50px);
        opacity: .7;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
} */


@media (width < 1300px) {
   
    .testimonyContent {
        margin: 0px 1rem;
        width: 500px;
        padding: 3rem;
    }
    .imgContainer {
        margin-right: 2rem;
   }

   .profileImage {
        width: 450px;
        height: 450px;
   }

   .pattern {
        width: 550px;
        right: 50px;
        top: 15%;
   }

   .middleQuote {
        width: 100px;
        top: 35%;
        left: 220px;
   }
   h1 {
        font-size: 1.8rem;
        margin-right: 1.5rem;
   }
}

 @media (width < 1000px) {
    body, html {
       overflow-x: hidden;
    }
    .testimonial {
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
    }

    .testimonyContent {
        order: 1;
        text-align: center;
    }
    .testimony-Header {
        margin-right: 10rem;
        width: 500px;
    }
    
    .middleQuote {
        top: 58%;
        left: 50%;
        width: 80px;
    }

    .profileImage {
        width: 425px;
        height: 425px;
        margin-left: 8rem;
    }

    .pattern {
        top: 15px;
        right: 200px;
        width: 500px;
    }
    .personContent {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .prevBtn {
        left: 52%;
        z-index: 1;

    }
    .nextBtn {
        left: 62%;
        z-index: 1;
    }
   
} 

 @media (width <= 768px) {
    .pattern {
        right: 40px;
        top: 2%;
        width: 475px;
    }
    
    .profileImage {
        margin-left: 5rem;
        width: 375px;
        height: auto;
    }

    .testimony-Header { padding: 1rem; }
    
    .testimonyContent {
        text-align: center;
        width: 550px;
        margin: 0px;
      
    }
    .attribution {
        margin: 2rem;
    }
    .middleQuote {
        left: 45%;
        top: 53%;
    }

    .prevBtn {
        left: 44%;
    }
    .nextBtn {
        left: 57%;
    }
} 

@media (width <= 485px) {
    .testimonial {
        padding: 4rem;
    }
    .profileImage {
        width: 300px;
        margin-left: 3rem;
    }

    h1 {
        font-size: 1.1rem;
        width: 325px;
    }
    .personContent {
        margin-right: 8rem;
    }

    .pattern {
        top: 5%;
        width: 350px;
    }
    .middleQuote {
        width: 50px;
        top: 55%;
    }
    .testimonyContent {
        width: 450px;
    }
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }